.app-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.navigation-div {
    display: flex;
    width: 10%;
}

.page-wrapper {
    width: 90%;
    padding: 0;
    margin: 0;
}