.app-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.navigation-div {
    display: flex;
    width: 10%;
}

.page-wrapper {
    width: 90%;
    padding: 0;
    margin: 0;
}

/* -------------------- MOBILE RESPONSIVE --------------------- */
@media (max-width: 768px) {
    .app-container {
        flex-direction: column;
    }
    
    .navigation-div {
        width: 0; /* Collapse the width instead of hiding completely */
        overflow: visible; /* Allow content to overflow for the mobile overlay */
    }
    
    .page-wrapper {
        width: 100%;
    }
}